:root {
    --bg-dark: #1f242d;
    --surface: rgba(255, 255, 255, 0.05);
    --accent: #eaff00;
    --text-light: #f1f1f1;
    --font-main: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

/* HEADER */
.header {
    position: relative;
    width: 100%;
    padding: 1.5rem 9%;
    backdrop-filter: blur(10px);
    background: var(--surface);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    border-bottom: none;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-light);
    cursor: pointer;
}

.logo .dot {
    color: var(--accent);
}

.logo::after {
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:hover::after {
    opacity: 1;
}

.logo:hover {
    color: #ffffff;
    transform: scale(1.05);
    text-shadow: 0 0 8px rgb(229, 255, 0);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.navheader a {
    position: relative;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 3rem;
    color: var(--text-light);
    text-decoration: none;
    transition: color 0.2s ease;
}

.navheader a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.3s ease;
}

.navheader a:hover::after {
    width: 100%;
}

.navheader a:hover {
    color: var(--text-light);
}

.navheader a.active {
    color: var(--accent);
    text-shadow: 0 0 0 var(--accent);
    text-decoration: none;
}

#hamburger-menu {
    font-size: 3rem;
    color: var(--text-light);
    display: none;
    cursor: pointer;
    transition: transform 0.4s ease, color 0.4s ease;
}

#hamburger-menu.bx-x {
    transform: rotate(90deg);
}

#hamburger-menu.bx-x,
#hamburger-menu.bx-menu {
    transition: transform 0.4s ease, color 0.4s ease;
}

#hamburger-menu.active {
    transform: rotate(90deg);
}

/* SECTION */
section {
    min-height: 100vh;
    padding: 5rem 9% 2rem;
    background-color: var(--bg-dark);
}

.general-h2-heading {
    font-size: 5rem;
    color: var(--accent);
    text-align: center;
    margin-bottom: 4rem;
    text-shadow: 0 0 1.5px var(--accent);
}

/* HOME */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5rem;
    min-height: 90vh;
    padding: 2rem 9% 2rem;
}

.home-content h2 {
    font-size: 2.5rem;
}

.home-content h3 {
    font-size: 4rem;
    color: var(--accent);
    text-shadow: 0 0 1.5px var(--accent);
}

.home-content h1 {
    font-size: 2rem;
    color: var(--text-light);
    margin-bottom: 1rem;
}

.home-content p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.my-photo {
    max-width: 300px;
    flex-shrink: 0;
}

.my-photo img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--accent);
}

.button {
    display: inline-block;
    padding: 1.2rem 3rem;
    background-color: var(--accent);
    color: #000;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.6rem;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 8px var(--accent);
    margin-top: 2rem;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--accent);
    background-color: var(--accent);
    color: #000;
}

/* ABOUT */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #111117;
}

.my-img img {
    position: relative;
    width: 25vw;
    border: 10px solid #eaff00;
    border-radius: 15%;
    height: auto;
}

.about-content p {
    font-size: 1.5rem;
    line-height: 1.7;
    margin-top: 1rem;
}

/* SKILLS */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.skill-box {
    background: var(--surface);
    border-radius: 15px;
    padding: 2rem;
    transition: transform 0.2s, box-shadow 0.3s;
    text-align: center;
}

.skill-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px var(--accent);
}

.skill-box i {
    font-size: 10rem;
    color: var(--accent);
}

/* PROJECTS */
.projects {
    background-color: #16161d;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    background-color: var(--surface);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
    margin-bottom: 4rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card.alt {
    flex-direction: row-reverse;
}

.project-image {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: visible;
}

.project-image img {
    width: 100%;
    max-width: 300px;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--accent);
    transition: transform 0.3s ease, filter 0.3s ease;

}

.project-image:hover img {
    transform: scale(1.05);
    z-index: 1;
    filter: brightness(0.5);

}

.project-tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.project-tags span {
    background-color: var(--accent);
    color: #000;
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 0 2px var(--accent);
}

.image-button {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--accent);
    color: #000;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 6px var(--accent);
}

.project-image:hover .image-button {
    opacity: 1;
    transform: translate(-50%, 0%);
    pointer-events: auto;
}

.project-info {
    flex: 1;
}

.project-info h4 {
    font-size: 2.2rem;
    color: var(--accent);
    margin-bottom: 1rem;
}

.project-info p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text-light);
}

.project-info a {
    background-color: var(--accent);
    color: #000;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0 0 5px var(--accent);
    font-size: 1.5rem;
    text-decoration: none;
}

.project-info a:hover {
    box-shadow: 0 0 10px var(--accent);
}

/* CONTACTS */
.contacts h2 {
    color: var(--accent);
    margin-bottom: 1rem;
}

.contacts p {
    font-size: 1.8rem;
    text-align: center;
}

.contacts p a {
    color: white;
    text-decoration: underline;
    font-weight: 500;
}

.contacts form .input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts form input,
.contacts form textarea {
    background-color: var(--surface);
    color: var(--text-light);
    border: 1px solid var(--accent);
    padding: 1.5rem;
    font-size: 1.6rem;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem 0;
}

.contacts form input:focus,
.contacts form textarea:focus {
    outline: none;
    box-shadow: 0 0 8px var(--accent);
}

.contacts form button {
    display: block;
    margin: 2rem auto 0;
}

#submissionStatus {
    text-align: center;
    margin-top: 2rem;
}

/* FOOTER */
.footer {
    background-color: #000;
    padding: 3rem 1rem;
    text-align: center;
    color: var(--text-light);
    font-size: 1.5rem;
}

.footer a {
    color: var(--text-light);
    text-decoration: none;
}

.footer .social-media-icons {
    margin-bottom: 1.5rem;
}

.footer .social-media-icons a {
    font-size: 2.4rem;
    color: white;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    transition: 0.4s ease;
}

.footer .social-media-icons a:hover {
    color: var(--accent);
    border-color: var(--accent);
    transform: scale(1.3);
}

.footer a.footer-cta {
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    color: var(--text-light);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 1rem;
}

.footer a.footer-cta::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin: 0 auto;
    background: var(--accent);
    transition: width 0.3s ease;
    left: 0;
    right: 0;
    bottom: -4px;
}

.footer a.footer-cta:hover::after {
    width: 100%;
}

.footer a.footer-cta:hover {
    color: var(--text-light);
}

#scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background: var(--accent);
    width: 0%;
    z-index: 9999;
    transition: width 0.2s ease-out;
}

/* RESPONSIVENESS */
@media (min-width: 1440px) {
    #about p {
        font-size: 2rem;
        line-height: 1.8;
    }

    .logo {
        font-size: 4rem;
    }

    .navheader a {
        font-size: 2.5rem;
        margin-left: 5rem;
    }

    .my-photo img {
        width: 550px;
        height: auto;
    }
    
    .my-photo {
        max-width: 500px;
    }

    .project-info h4 {
        font-size: 3rem;
    }

    .project-info p {
        font-size: 2rem;
    }

    .project-info a {
        font-size: 1.9rem;
        padding: 1.2rem 2rem;
    }

    .project-tags span {
        font-size: 1.5rem;
    }

    .skill-box i {
        font-size: 15rem;
    }
}


@media(min-width: 1200px) {
    .home-content h2 {
        font-size: 3rem;
    }

    .home-content h3 {
        font-size: 5rem;
    }

    .home-content h1 {
        font-size: 2.4rem;
    }

    .button {
        font-size: 1.8rem;
        padding: 1.4rem 3.2rem;
    }

    .my-photo img {
        max-width: 420px;
    }
}


@media(max-width: 768px) {
    .home {
        flex-direction: column;
    }
    .about {
        flex-direction: column-reverse;
    }
    .project-card,
    .project-card.alt {
        flex-direction: column !important;
        text-align: center;
    }

    .skill-box {
        flex: 0 1 45%;
        max-width: 45%;
    }

    .navheader {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--bg-dark);
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        z-index: 1000;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .navheader.active {
        display: flex;
    }

    .navheader a {
        margin: 1rem 0;
        font-size: 2rem;
    }

    #hamburger-menu {
        display: block;
    }

    .home{
        flex-direction: column;
        margin-top: 2rem;
    }

    .home-content h2{
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 1.8rem;
    }

    .home-content h3{
        font-size: 3rem;
    }

    .home-content .button {
        display: block;
        margin: 2rem auto 0;
        text-align: center;
    }

    .my-img img {
        width: 75vw;
    }
}

/* IMPORT CUSTOM FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: var(--accent);
    color: #000;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 2.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px var(--accent);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

#scrollToTopBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--accent);
}

#scrollToTopBtn.show {
    opacity: 1;
    pointer-events: auto;
}
